
/* Background image */
body{
    background-image: url(/images/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height:100vh;

}